* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*background: color image repeat position/size */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  margin: 56px auto 0;
  padding: 0 24px;
  /*height: 712px;*/ /*Não é ideal determinar a largura.*/

  /*border: 1px solid red;*/
  /*margin: auto;*/

  /*padding: 100px;*/
  /*margin-right: auto;
  margin-left: auto;*/
}

#profile {
  /*Em display = inline não se usa margin: auto||||| <div> é block</div>*/
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px; /*Gap - espaçamento entre icones.*/
  padding: 24px 0;
}
ul li a {
  display: flex;
  /*border: 1px solid red;*/
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /*Remove Sublinhamento no texto (line-thought para colocar linha no meio // overline - linha em cima*/
  font-weight: 500; /* acima de 400 é bold mas ser especifico e melhor.*/

  transition: background 0.2s;
}
/*Pseudo - selector ele aplica as coisas ao passar o mouse por cima*/
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}
/*
ion-icon {
  margin: 16px;
}
ion-icon:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 50%;
}
*/

/*Social Links*/
#social-links {
  display: flex;

  gap: 16px;

  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  border-radius: 50%;
  transition: background 0.2s;
}
#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}
